<style>
    .sortable {
        border: 1px solid grey;
        min-height: 20px;
    }
</style>
<div class="row featurette">
    <div class="col-md-9 p-4 d-flex flex-column position-static">
    <% @course.groups.each do |group| %>
        <div class="card">
        <div class="row">
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title"><%= group.groupname %></h5>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-body">
            <ul class="list-group">
                <div class="sortable">
                    <% @userselected.each do |user| %>
                        <% if user.groupname == group.groupname %>
                            <li class="list-group-item"><%= user.fname %> <%= user.lname %></li>
                        <% end %>
                    <% end %>
                </div>
            </ul>
            </div>
        </div>
        </div>
        </div>
        <hr class="featurette-divider">

    <% end %>
    </div>
    
    <div class="col-md-3 p-4 d-flex flex-column position-static">
        <h4 class="featurette-heading">List of Unassigned Students</h4>
        <p class="featurette-heading">(Drag and drop)<p>
        <ul class="list-group">
            <div class="sortable">
            <% @userselected.each do |user| %>
                <% if user.groupname == nil %>
                    <li class="list-group-item"><%= user.fname %> <%= user.lname %></li>
                <% end %>
            <% end %>
            </div>
        </ul>
    </div>
</div>