<% @courses.each do |course| %>
<% if course.errors.any? %>
    <% course.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %></div>
    <% end %>
<% end %>
<div class="row featurette">
    <div class="col p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading">Learn the ways of <%= course.coursename %>!</h2>
        <p class="lead"><%= course.coursedesc %></p>
    <hr class="featurette-divider">
    <%= link_to "Follow the Class!", follow_course_path(course) , :class => 'btn btn-info' %>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="300" xmlns="http://www.w3.org/2000/svg" 
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image" style="float:right">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em"><%= course.coursename %></text></svg>
    </div>
</div>
<hr class="featurette-divider">
<% end %>
